html{
  background-color: lightgray;
}

body{
  width: 1260px;
  margin-top: 45px;
  height: 500px; /* he sumado 400px del main y 100 del footer*/
  background-color: tomato;
}
main{
  background-color: lightcoral;
  display: flow-root;  /* Limpia el fujo del contenedor, para que coja la altura de las cajas que contiene */
}

footer{
  height: 100px;
  background-color: lightcoral;
}


#izquierda{
  width: 775px;  /* Le he restado a 800 el padding 10px a ambos lados y le he quitado 5px más pq inspeccionando la página he visto que sobraban */
  height: 335px; /* lo mismo que arriba */
  float: left;
  padding: 30px 10px;
  margin-left:20px;
  margin-right: 10px;
}
#derecha{
  width: 335px; /* el mismo procedimiento que el anterior*/
  height: 295px;
  margin-left: 10px;
  margin-right: 20px;
  float: left;
  padding: 50px 30px;
}
 
/* div izquierdo */

#parrafo{
  text-align: center;
  margin-bottom: 4em;
  background-color: seagreen;
}

#formulario{
  padding: 1em 0 1em 70px;
  background-color: lightgray;
}
/* div derecho */

#imagen{
  width: 150px;
  height: 150px; 
  background-color: limegreen;
}



input[type=text]{
  width:500px;
  padding-left:10px;
}

input[type=submit]{
  width: 150px;
  height: 2em;
  background-color: #D8D8D8;

}
